* {
    box-sizing: border-box;
}

section {
    background-color: grey;
}

#board {
    
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

#board div {
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid lightgrey;
    background-color: white;
}

#board div#ant {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    border-radius: 50%;
    z-index: 2;   
}

#board div.live {
    background-color: black;
}

#buttons {
    width: 150px;
    height: 50px;
    margin: auto;
}

#start {
    float: left;
}

#pause {
    float: right;
}