* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

section {
    margin: 10px;
}

#board {
    margin: auto;
    /*
    width: 700px;
    height: 700px;
*/
    position: relative;
}

#board div {
    /*
    width: 10px;
    height: 10px;
*/
    float: left;
    /*    border: 1px solid lightgrey;*/
    background-color: white;
}

#board div#ant {
    position: absolute;
    /*
    width: 10px;
    height: 10px;
*/
    border: 1px solid red;
    background-color: transparent;
    border-radius: 50%;
    z-index: 2;
}

#board div.live {
    background-color: black;
}

#buttons {
    box-sizing: content-box;
    width: 350px;
    height: 50px;
    margin: 10px auto;
}

button {
    float: left;
    margin: 10px;
}